@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  margin: 0;
}
h3 {
  font-size: 35px;
}
p {
  font-size: 16px;
}
input,
textarea {
  background: #f5f5f5;
}
.btn:hover {
  background: rgb(157, 210, 184, 46%);
  padding: 4px;
  border-radius: 40px;
}
.button-send {
  background-color: #58c08e;
  margin-left: 300px;
}
.bgblue {
  background-color: rgb(157, 210, 184, 46%);
}
.bgrose {
  background-color: rgb(225, 225, 122, 23%);
}
